h1{
    text-decoration: underline;
    font-size: 32px;
    margin-bottom: 30px;
}
input{
    font-size: 22px;
    padding:4px 2px;
}
button{
   border-style: none;
   background-color: white;
   margin-left:30px;
   font-size: 16px;
}

button:hover{
    border-bottom: 1px solid black;
}
ul li{
    font-size: 30px;
    margin-bottom: 10px;
}