body{
    text-align: center;
}
.box-container{
    display:flex;
    justify-content: center;
    align-items: center;

}
.box{
    width:200px;
    height: 200px;
    border:10px solid black;
    border-radius: 20%;
    margin: 2rem;
}
.red{
    background-color:rgb(247, 89, 89);
}
.blue{
    background-color: rgb(60, 60, 254);

}
.green{
    background-color: rgb(68, 188, 218);
}
.purple{
    background-color: rgb(208, 76, 252);
}
.flash{
    background-color: white;
}